name: Deploy Workflow
on:
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      releaseType:
        description: 'Choose the env to deploy (Dev or Prod)?'
        required: true
        
jobs:
  Deploy-Dev:
    runs-on: self-hosted
    environment: dev
    steps:
      - name: Download workflow artifact
        uses: dawidd6/action-download-artifact@v3
        with:
          github_token: ${{secrets.GITHUB_TOKEN}}
          workflow: Build Workflow.yml
          repo: mspriya92/TrainBook
          name: web-app
          path: D:/github/
      - name: Deploy to Tomcat
        run: cp D:/github/*.war "C:/Program Files/Apache Software Foundation/Tomcat 10.1/webapps/"
