name: WorkflowRun_check
 
on:
  workflow_run:
   workflows: [Run Tests]
   types: [completed]
 
jobs:
  job1:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    steps:
      - name: 'Run_java'
        run: echo "the workflow is running"
